
@media(max-width:800px){

    #nav{
        position:sticky;
        top:0;
        background-color:rgba(0,0,0,0.5);

    }

    #nav span{
        color:#fff;
    }
    #nav > .container{
        flex-direction:column;
    }

    #nav .navbar-brand{
        width:100%;
        display:flex;
        justify-content:space-between;
        padding:20px 20px;
    }

    #nav .navbar-brand > .mobile-navbar-icon{
        display:flex;
        list-style-type:none;
        justify-content:space-between;
    }

    #nav #hambargar{
        display:block;
    }

    #nav .mobile-navbar-icon li{
        padding:0px 20px;
    }


    #nav .navbar-menu{
        width:100%;
        /* padding:10px 0; */
        flex-direction:column;
        height:0px;
        overflow:hidden;
        transition:0.5s;
    }

    #nav .navbar-menu.active{
        height:150px;
    }


    #nav .navbar-menu li{
        padding:5px 20px;
        
    }

    #nav .navbar-menu li:hover{
        background-color:#d2691e;
    }



    #nav .navbar-icon{
        display:none;
    }

    .products .cards .card{
        flex-basis:50%;
    }

       /* Product Details */

    #product-detail > .container{
        flex-direction:column;
    }

    #product-detail{
        padding:0px;
    }

    #slider .content{
        top:7%;
        left:30%;
    }
    
    #slider .content h1{
        font-size:20px;
        line-height:30px;
    }
    
    #slider .content h2{
        font-size:20px;
        line-height:30px;
    }
    
    #slider .content .title{
        font-size:20px;
        margin-bottom:10px;
    }

    #collection, #collection.collection2, #collection.collection3{
        height:90vh;
    }

    #collection .container{
        width:80%;
        margin:auto;
    }
    
    
    #collection .content h1{
        font-size:20px;
        margin:20px 0;
    }
    
    #collection .content h3{
        margin-bottom:30px;
    }

   

    #why .cards{
        display:flex;
        justify-content:center;
    }

    #why .cards .card{
        flex-basis:90%;
        margin:10px 0;
        height:200px;
    }

    #why .cards .card .content {
        top:40%;
    }
    #why .cards .card.small{
        flex-basis:90%;
    }

    #join{
        padding:0px;
    }

    #join .content{
        display:block;
  
    }

    #join .title {
        font-size:30px;
    }
    #join .content .first{
        margin:auto;
    }

    #join .content .btn-container{
        display:flex;
        justify-content:center;
        margin:0;
        padding:0;
    }

    #join .content .btn{
        margin:20px 0;
        padding:10px 30px;
    }

    #shop{
        padding:0px;
    }

    #shop > .container{
        line-height:30px;
     
    }

    #shop h1{
        line-height:50px;
    }
    
    #shop .content{
        line-height:30px;
       
    }

    #shop .btn{
        margin:10px auto;
    }

    #footer > .container{
        display:flex;
        justify-content:center;
    }

    


  
}

@media(max-width:600px){

    #slider .content{
        display:none;
    }
    #slider .content h1{
        font-size:10px;
        line-height:20px;
    }
    
    #slider .content h2{
        font-size:10px;
        line-height:20px;
    }
    
    #slider .content .title{
        font-size:20px;
        margin-bottom:10px;
    }



    /* Product */

  

    .products .cards .card{
        flex-basis:80%;
    }

    #collection{
    
        background-position:70% 50%;
    }

    
    #join .title {
        font-size:30px;
    }

    /* Blogs Fashion */

    #blog .cards{
        flex-direction:column;
    }
    

    /* Collection */
    #collection > .container{
        flex-direction:column;
    }

    /* why */
    
    #why .cards .card .content{
        font-size:13px;
        position:absolute;
        top:100%;
        left:0%;
        padding:10px;
        border-radius:0 8rem 0 3rem;
    }

    #why .cards .card:hover .content{
        visibility:visible;
        top:50%;
    }

    /* shop */
    #shop{
        background-position:50% 50%;
    }

    /* new letter */

    #news-letter{
        background-position:50% 50%;

    }




    /* Footer */
    #footer > .container{
        flex-direction:column;
    }

    #footer ul{
        margin:20px 0;
    }

    
 

}

@media(max-width:400px){
    
}